# Environment / secrets
.env
*.env

# Node
node_modules/

# Python
.venv/
venv/
__pycache__/
*.pyc

# Temporary uploads
uploads/

# Logs
*.log

# OS / editor files
.DS_Store
Thumbs.db

# Large datasets
data/
dataset/
datasets/

# Deep learning training caches
*.h5
*.ckpt

# Local database / storage folders
minio-data/